Consider following code to answer further questions:

In [11]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {"Course_name" : course_name, "Duration" :duration })

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [20]:
df.iloc[1]

Course_name    Machine Learning
Duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Dataframe.loc[ ]: This function used to retrive the the desired rows of desired columns,But we have to pass the list of column names , by default it considers all the columns.
- Syntax: Dataframe.loc[<slice_of_rows or list_of_rows>, <list_of_col_names>]
- For Example:

In [22]:
df.loc[1:3 , ['Course_name']]

        Course_name
1  Machine Learning
2          Big Data
3     Data Engineer

Dataframe.iloc[ ] : is used to access rows and columns of a DataFrame by integer-based indexing. It allows you to retrieve specific rows or columns based on their integer position, rather than their labels.
- Syntax: Dataframe.iloc[<slice_of_rows or list_of_rows>, <list_of_col_indexs>]
- For Example:

In [26]:
df.iloc[[1,2],[1]]

   Duration
1         3
2         6

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df

In [34]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)

new_df

        Course_name  Duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [35]:
new_df.loc[2]

Course_name    Big Data
Duration              6
Name: 2, dtype: object

.loc : uses the index given by the user. So, it retrived a row which having index as '2'.

In [36]:
new_df.iloc[2]

Course_name    Machine Learning
Duration                      3
Name: 1, dtype: object

.iloc : uses the default index in Python is provided by the pandas library. When you create a DataFrame object using pandas. So, it retrived a row which is at 2 index position.

Consider the below code to answer further questions:

In [39]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1.  mean of each and every column present in the dataframe.
2.  standard deviation of column, ‘column_2’

In [41]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.465941  0.741812  0.772401  0.280384  0.533168  0.455577
std    0.403112  0.289535  0.234139  0.317292  0.315859  0.318796
min    0.067942  0.357423  0.463506  0.012321  0.293080  0.063382
25%    0.104377  0.511243  0.581228  0.048752  0.331323  0.213185
50%    0.432491  0.902803  0.894293  0.142354  0.350117  0.456672
75%    0.763018  0.923401  0.939468  0.535138  0.757200  0.669419
max    0.994523  0.976854  0.950915  0.701657  0.987744  0.884375

In [45]:
pd.DataFrame(df1.mean(),columns=['Mean'])

              Mean
column_1  0.465941
column_2  0.741812
column_3  0.772401
column_4  0.280384
column_5  0.533168
column_6  0.455577

In [50]:
df1['column_2'].std()

0.2895349539754763

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
df1['column_2'] = 'string'
df1['column_2'].mean()

In pandas, the mean is a statistical measure that calculates the average of numeric values in a column. It is not applicable to string data because the concept of calculating the average or mean does not make sense for non-numeric values.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

- window functions are used to perform calculations on a specific window or subset of data within a DataFrame or Series. These functions operate on a sliding window of data, which can be defined by a specified number of rows or a time-based window.

- Window functions are particularly useful for performing calculations that involve aggregating or transforming data within a specific window. Some common use cases include calculating moving averages, cumulative sums, ranks, and more.

- Rolling Window Functions:

1. rolling().mean(): Computes the rolling mean within the window.
2. rolling().sum(): Computes the rolling sum within the window.
3. rolling().min(): Computes the minimum value within the window.
4. rolling().max(): Computes the maximum value within the window.
5. rolling().std(): Computes the standard deviation within the window.
6. rolling().var(): Computes the variance within the window.
7. rolling().count(): Counts the non-null values within the window.
8. rolling().apply(): Applies a custom function to the values within the window.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [56]:
pd.datetime()

AttributeError: module 'pandas' has no attribute 'datetime'

In [63]:
pd.Timestamp.now()

Timestamp('2023-07-03 09:00:54.241197')

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [84]:
date1 = input('Enter date1 in the format (YYYY-MM-DD): ')
date2 = input('Enter date2 in the format (YYYY-MM-DD): ')

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_delta = date2 - date1

print("Difference in days :",time_delta.days)
print("Difference in hours :",time_delta.days * 24)
print("Difference in minutes :",time_delta.days * 24 * 60)

Difference in days : 365
Difference in hours : 8760
Difference in minutes : 525600

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

file_path = input("Enter the CSV file path: ")

df = pd.read_csv(file_path)

column_name = input("Enter the column name to convert to categorical: ")

category_order = input("Enter the category order (comma-separated): ").split(",")

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

sorted_df = df.sort_values(column_name)

print("Sorted Data:")
print(sorted_df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

file_path = input("Enter the CSV file path: ")

df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])

grouped_df = df.groupby(['Date', 'Category'])['Sales'].sum().unstack()

# Create a stacked bar chart
ax = grouped_df.plot(kind='bar', stacked=True)
print(ax)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the following:
1. Prompt the user to enter the file path of the CSV file containing the student dataR
2. Read the CSV file into a Pandas DataFrameR
3. Calculate the mean, median, and mode of the test scores using Pandas toolsR
4. Display the mean, median, and mode in a table.

In [17]:
import pandas as pd 


filepath = input("Enter the CSV file_path : ")
df = pd.read_csv(filepath)  

mean = df['test_score'].mean()
median = df['test_score'].median()
mode = df['test_score'].mode()

data_2 = {'Statistic':['Mean', 'Median', 'Mode'],
          'Value' : [mean, median, ', '.join(map(str,mode))]}

df1 = pd.DataFrame(data_2)

print(df1)

  Statistic Value
0      Mean  83.5
1    Median  85.0
2      Mode    85